ie-panel{
	display: none;
	background: #212121;
	padding: 10px 0;
	box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
	clear: both;
	text-align:center;
	position: relative;
	z-index: 1;
} 
html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
.swiper-container {
    height: 90vh;
}
.btn-ellipse.btn {
     /*border-radius: 0 !important;*/
     border-radius: 23px;
} 
footer 
{
	color: #f5f5f5;
    padding: 20px 5px 5px 5px;
    text-align: center;
}
footer a 
{    
    color: #fff;
}
.icono-tam{
    font-size: 32px !important;
}
.btn-ellipses.btn {
    border-radius: 0 !important; 
}
.swiper-container h2 {
    font-size: 68px !important;
}
.rd-navbar-minimal.rd-navbar-static .rd-navbar-menu-wrap {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
     background: transparent !important; 
     box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%) !important; 
    border-radius: 6px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0px !important;
}
.rd-navbar-minimal.rd-navbar-static .rd-navbar-nav > li.active, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li.active, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-nav > li.active, .rd-navbar-minimal.rd-navbar-static .rd-navbar-nav > li.focus, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li.focus, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-nav > li.focus, .rd-navbar-minimal.rd-navbar-static .rd-navbar-nav > li:hover, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li:hover, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-nav > li:hover {
    background: linear-gradient(to top, #fff, #fff) !important;
    font-weight:bold;
    font-size:12px; 
    color: #47AAE5;
    text-decoration:line-through; 
    padding: 0; margin:0
}
.rd-navbar-minimal.rd-navbar-static .rd-navbar-top-panel, .rd-navbar-minimal.rd-navbar-static .rd-navbar-menu-wrap, .rd-navbar-minimal.rd-navbar-static .rd-navbar-panel {
    max-width: 1170px;
    margin-left: 0 !important;
    margin-right: 20px !important;
}
.swiper-container-horizontal > .swiper-pagination {
    text-align: center !important;
    padding-right: 0 !important;
    
}
.btn-default {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important; 
}
  .btn-default:focus, .btn-default.focus {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #8c8c8c !important; }
  .btn-default:hover {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important; }
    .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
    .open > .btn-default.dropdown-toggle:hover,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle.focus {
      color: #333 !important;
      background-color: #d4d4d4 !important;
      border-color: #8c8c8c !important; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    background-image: none !important; }
  .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus {
    background-color: #fff !important;
    border-color: #ccc !important; }
  .btn-default .badge {
    color: #fff !important;
    background-color: #333 !important; }
/*@media (min-width: 768px){
    .modal-dialog {
    width: 600px !important;
    }   
}*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: inherit !important;
    font-weight: 500 !important;
    line-height: 1.1 !important;
    color: inherit !important;
}
h4, .h4 {
    font-size: 18px !important;
}
h5, .h5 {
  font-size: 14px !important; }

.close {
    float: right !important;
    font-size: 21px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #000 !important;
    text-shadow: 0 1px 0 #fff !important;
    opacity: 0.2 !important;
    filter: alpha(opacity=20) !important;
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat !important;    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}
.img-clinica{
    width: 600px;
}
 .swiper-slide .swiper-caption img {
        position: static !important;
        z-index: -1 ;
        bottom: 0;
        opacity: 1 !important;
        max-width: none !important;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
}
@media only screen and (max-width: 1200px) {
    .swiper-container-horizontal > .swiper-pagination {
        bottom: 59px;
        left: calc(44% + 15px) !important;
        width: 1200px;
        text-align: left !important;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 992px) {
    .swiper-slide .swiper-caption img {
        position: static !important;
        z-index: -1 ;
        bottom: 0;
        opacity: 1 !important;
        max-width: none !important;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
    }
    .img-slide{
        width: 400px;
    }
  
}
@media only screen and (max-width: 820px) {
     .swiper-container-horizontal > .swiper-pagination {
    bottom: 59px;
    left: calc(42% + 15px) !important;
    width: 1200px;
    text-align: left !important;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (max-width: 768px) {
     .swiper-container-horizontal > .swiper-pagination {
    bottom: 59px;
    left: calc(40% + 15px) !important;
    width: 1200px;
    text-align: left !important;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (max-width: 650px) {
    .img-clinica{
        width: 300px;
    }
     .swiper-container-horizontal > .swiper-pagination {
    bottom: 59px;
    left: calc(38% + 15px) !important;
    width: 1200px;
    text-align: left !important;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (max-width: 540px) {
    .footer-font{
        font-size: 12px;
    }
    .swiper-container-horizontal > .swiper-pagination {
    bottom: 59px;
    left: calc(38% + 15px) !important;
    width: 1200px;
    text-align: left !important;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (max-width: 450px) {
    .footer-font{
        font-size: 12px;
    }
    .swiper-container-horizontal > .swiper-pagination {
    bottom: 59px;
    left: calc(30% + 15px) !important;
    width: 1200px;
    text-align: left !important;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (max-width: 393px) {
    .footer-font{
        font-size: 12px;
    }
    .swiper-container-horizontal > .swiper-pagination {
    bottom: 59px;
    left: calc(30% + 15px) !important;
    width: 1200px;
    text-align: left !important;
    margin-left: auto;
    margin-right: auto;
    }
}


#estilo input,#estilo textarea,#estilo select{
      font-weight: 700;
      color: #000;
    }
    #estilo input::placeholder,#estilo textarea::placeholder,#estilo select option{
      color: #768192;
      font-weight: 200;
    }
